In [78]:
import pandas as pd
import numpy as np
from pathlib import Path

In [52]:
from app.config import settings
from sqlalchemy import create_engine

SQLALCHEMY_DATABASE_URL = f'postgresql://{settings.database_username}:{settings.database_password}@{settings.database_hostname}:{settings.database_port}/{settings.database_name}'


engine = create_engine(SQLALCHEMY_DATABASE_URL)

In [4]:
! ls ../data

allergies.csv
careplans.csv
conditions.csv
encounters.csv
Loinc.csv
observations.csv
patients.csv
procedures.csv
providers.csv
sct2_Concept_Full_US1000124_20220901.txt
sct2_Description_Full-en_US1000124_20220901.txt
sct2_Relationship_Full_US1000124_20220901.txt

In [10]:
root = Path("../data")

In [126]:
patients = pd.read_csv(root /"patients.csv")
patients_column = {"Id": "patient_num", 
                   "BIRTHDATE": "birth_date", 
                   "DEATHDATE": "death_date", 
                   "GENDER": "sex_cd", 
                   "RACE": "race_cd", 
                   "MARITAL": "marital_status_cd"}
patients_type = {"patient_num": str, 
                "birth_date": np.datetime64, 
                "death_date": np.datetime64,
                "sex_cd": str,
                "race_cd": str,
                "marital_status_cd": str}
patients = patients.rename(patients_column, axis=1)[patients_column.values()]
patients = patients.astype(patients_type)
patients.race_cd = patients.race_cd.str.get(0)
patients.loc[patients.marital_status_cd == 'nan', "marital_status_cd"] = "U"
patients.to_sql(index=False, name="patient_dimension", con=engine, if_exists="append")

In [158]:
locations = pd.read_csv(root /"organizations.csv")
locations_column = {"Id": "location_cd", 
                   "NAME": "location"}
locations_type = {"location_cd": str, 
                "location": str}
locations = locations.rename(locations_column, axis=1)[locations_column.values()]
locations = locations.astype(locations_type)
locations.to_sql(index=False, name="location", con=engine, if_exists="append")

119

In [159]:
encounters = pd.read_csv(root /"encounters.csv")
encounters_column = {"Id": "encounter_num", 
                   "START": "start_date", 
                   "STOP": "end_date", 
                   "PATIENT": "patient_num", 
                   "ORGANIZATION": "location_cd", 
                   }
encounters_type = {"encounter_num": str, 
                "start_date": np.datetime64, 
                "end_date": np.datetime64,
                "patient_num": str,
                "location_cd": str,
                }
encounters = encounters.rename(encounters_column, axis=1)[encounters_column.values()]
encounters = encounters.astype(encounters_type)
encounters.to_sql(index=False, name="encounter_dimension", con=engine, if_exists="append")

346

In [161]:
providers = pd.read_csv(root / "providers.csv")
providers_column = {"Id": "provider_num", 
                   "NAME": "name_char", 
                   "SPECIALITY": "provider_blob", 
                   "ORGANIZATION": "department", 
                   }
providers_type = {"provider_num": str, 
                "name_char": str,
                "provider_blob": str,
                "department": str
                }
providers = providers.rename(providers_column, axis=1)[providers_column.values()]
providers = providers.astype(providers_type)
providers.to_sql(index=False, name="provider_dimension", con=engine, if_exists="append")

855

In [177]:
snomed_concepts = pd.read_csv(root / "sct2_Concept_Full_US1000124_20220901.txt", delimiter="\t")
snomed_concepts_column = {"id": "concept_num"}
snomed_concepts_type = {"concept_num": str}
snomed_concepts = snomed_concepts.rename(snomed_concepts_column, axis=1)[snomed_concepts_column.values()]
snomed_concepts = snomed_concepts.astype(snomed_concepts_type)
snomed_concepts["sourcesystem_cd"] = "SNOMED"
snomed_concepts.concept_num = "SNOMED:" + snomed_concepts.concept_num
snomed_concepts = snomed_concepts.drop_duplicates()
snomed_concepts.to_sql(index=False, name="concept_dimension", con=engine, if_exists="append")

453

In [179]:
snomed_descriptions.head()

,id,effectiveTime,active,moduleId,conceptId,languageCode,typeId,term,caseSignificanceId
0,101013,20020131,1,900000000000207008,126813005,en,900000000000013009,Neoplasm of anterior aspect of epiglottis,900000000000020002
1,101013,20170731,1,900000000000207008,126813005,en,900000000000013009,Neoplasm of anterior aspect of epiglottis,900000000000448009
2,102018,20020131,1,900000000000207008,126814004,en,900000000000013009,Neoplasm of junctional region of epiglottis,900000000000020002
3,102018,20170731,1,900000000000207008,126814004,en,900000000000013009,Neoplasm of junctional region of epiglottis,900000000000448009
4,103011,20020131,1,900000000000207008,126815003,en,900000000000013009,Neoplasm of lateral wall of oropharynx,900000000000020002

In [203]:
snomed_descriptions = pd.read_csv(root / "sct2_Description_Full-en_US1000124_20220901.txt", delimiter="\t")
snomed_descriptions_column = {"conceptId": "concept_num",
                             "term": "concept_term", 
                             "typeId": "term_type",
                             }
snomed_descriptions_type = {"concept_num": str, 
                           "concept_term": str, 
                           "term_type": str}
snomed_descriptions = snomed_descriptions.rename(snomed_descriptions_column, axis=1)[snomed_descriptions_column.values()]
snomed_descriptions = snomed_descriptions.astype(snomed_descriptions_type)
snomed_descriptions["sourcesystem_cd"] = "SNOMED"
snomed_descriptions.concept_num = "SNOMED:" + snomed_descriptions.concept_num
snomed_descriptions["normalized_term"] = snomed_descriptions.concept_term.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8').str.lower()
snomed_descriptions = snomed_descriptions.drop_duplicates(["concept_num", "normalized_term"])
snomed_descriptions = snomed_descriptions.drop("normalized_term", axis=1)
snomed_descriptions.to_sql(index=False, name="concept_descriptions", con=engine, if_exists="append")

858

In [207]:
snomed_relationships = pd.read_csv(root / "sct2_Relationship_Full_US1000124_20220901.txt", delimiter="\t")
snomed_relationships_column = {"sourceId": "source",
                             "destinationId": "target", 
                             "typeId": "type_cd",
                             }
snomed_relationships_type = {"source": str, 
                           "target": str, 
                           "type_cd": str}
snomed_relationships = snomed_relationships.rename(snomed_relationships_column, axis=1)[snomed_relationships_column.values()]
snomed_relationships = snomed_relationships.astype(snomed_relationships_type)
snomed_relationships["sourcesystem_cd"] = "SNOMED"
snomed_relationships.source = "SNOMED:" + snomed_relationships.source
snomed_relationships.target = "SNOMED:" + snomed_relationships.target
snomed_relationships.type_cd = "SNOMED:" + snomed_relationships.type_cd
snomed_relationships = snomed_relationships.drop_duplicates()
snomed_relationships.to_sql(index=False, name="concept_relationships", con=engine, if_exists="append")

744

In [ ]:
allergies START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
careplan Id,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,REASONCODE,REASONDESCRIPTION
conditions START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
observations DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,VALUE,UNITS,TYPE

In [229]:
observations_paths = ["allergies.csv", "conditions.csv"]
observations_column = { "START": "start_date", 
                       "STOP": "end_date", 
                       "PATIENT": "patient_num", 
                       "ENCOUNTER": "encounter_num", 
                       "CODE": "concept_cd"}
observations_type = {"start_date": np.datetime64,
                    "end_date": np.datetime64, 
                    "patient_num": str,
                    "encounter_num": str,
                    "concept_cd": str,
                    }
for observation_path in observations_paths:
    observations = pd.read_csv(root / observation_path, delimiter=",")
    observations = observations.rename(observations_column, axis=1)[observations_column.values()]
    observations = observations.astype(observations_type)
    observations.concept_cd = "SNOMED:" + observations.concept_cd
    observations['observation_id'] = (observations.patient_num + observations.encounter_num + observations.concept_cd + observations.start_date.astype(str))
    observations.to_sql(index=False, name="observation_fact", con=engine, if_exists="append")

In [235]:
loinc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99079 entries, 0 to 99078
Data columns (total 41 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   LOINC_NUM                  99079 non-null  object
 1   COMPONENT                  99079 non-null  object
 2   PROPERTY                   99079 non-null  object
 3   TIME_ASPCT                 99079 non-null  object
 4   SYSTEM                     99079 non-null  object
 5   SCALE_TYP                  99079 non-null  object
 6   METHOD_TYP                 53182 non-null  object
 7   CLASS                      99079 non-null  object
 8   VersionLastChanged         99079 non-null  object
 9   CHNG_TYPE                  99079 non-null  object
 10  DefinitionDescription      12621 non-null  object
 11  STATUS                     99079 non-null  object
 12  CONSUMER_NAME              0 non-null      float64
 13  CLASSTYPE                  99079 non-null  int64
 14  FORMULA                    654 non-null    object
 15  EXMPL_ANSWERS              4882 non-null   object
 16  SURVEY_QUEST_TEXT          8183 non-null   object
 17  SURVEY_QUEST_SRC           9946 non-null   object
 18  UNITSREQUIRED              61113 non-null  object
 19  RELATEDNAMES2              99079 non-null  object
 20  SHORTNAME                  86197 non-null  object
 21  ORDER_OBS                  83863 non-null  object
 22  HL7_FIELD_SUBFIELD_ID      97 non-null     object
 23  EXTERNAL_COPYRIGHT_NOTICE  7212 non-null   object
 24  EXAMPLE_UNITS              38230 non-null  object
 25  LONG_COMMON_NAME           99079 non-null  object
 26  EXAMPLE_UCUM_UNITS         41367 non-null  object
 27  STATUS_REASON              2725 non-null   object
 28  STATUS_TEXT                3709 non-null   object
 29  CHANGE_REASON_PUBLIC       30880 non-null  object
 30  COMMON_TEST_RANK           99079 non-null  int64
 31  COMMON_ORDER_RANK          99079 non-null  int64
 32  COMMON_SI_TEST_RANK        99079 non-null  int64
 33  HL7_ATTACHMENT_STRUCTURE   7773 non-null   object
 34  EXTERNAL_COPYRIGHT_LINK    7212 non-null   object
 35  PanelType                  4675 non-null   object
 36  AskAtOrderEntry            65 non-null     object
 37  AssociatedObservations     8058 non-null   object
 38  VersionFirstReleased       99079 non-null  object
 39  ValidHL7AttachmentRequest  106 non-null    object
 40  DisplayName                59572 non-null  object
dtypes: float64(1), int64(4), object(36)
memory usage: 31.0+ MB

In [278]:
loinc = pd.read_csv(root / "Loinc.csv")
loinc = loinc[['LOINC_NUM', 'COMPONENT', 'SHORTNAME', 'LONG_COMMON_NAME' , 'DisplayName', 'DefinitionDescription']]
loinc = pd.melt(loinc, id_vars="LOINC_NUM").dropna()[['LOINC_NUM', 'value']]
loinc = loinc.rename({"LOINC_NUM": "concept_num", "value": "concept_term"}, axis=1)

C:\Users\tanup\AppData\Local\Temp\ipykernel_9916\2571996007.py:1: DtypeWarning: Columns (8,14,15,16,17,22,27,28,36,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  loinc = pd.read_csv(root / "Loinc.csv")

In [265]:
loinc_concepts = loinc.concept_num.drop_duplicates()
loinc_concepts = "LOINC:" + loinc_concepts
loinc_concepts = loinc_concepts.to_frame()
loinc_concepts['sourcesystem_cd'] = "LOINC"
loinc_concepts.to_sql(index=False, name="concept_dimension", con=engine, if_exists="append")

79

In [279]:
loinc["normalized_term"] = loinc.concept_term.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8').str.lower()
loinc = loinc.drop_duplicates(["concept_num", "normalized_term"])
loinc = loinc.drop("normalized_term", axis=1)
loinc['sourcesystem_cd'] = "LOINC"
loinc.concept_num = "LOINC:" + loinc.concept_num
loinc = loinc.loc[loinc.concept_term.str.len() <= 255, :]
loinc.to_sql(index=False, name="concept_descriptions", con=engine, if_exists="append")

195

In [281]:

observations.head()

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,VALUE,UNITS,TYPE
0,2012-01-23T17:45:28Z,034e9e3b-2def-4559-bb2a-7850888ae060,e88bc3a9-007c-405e-aabc-792a38f4aa2b,8302-2,Body Height,193.3,cm,numeric
1,2012-01-23T17:45:28Z,034e9e3b-2def-4559-bb2a-7850888ae060,e88bc3a9-007c-405e-aabc-792a38f4aa2b,72514-3,Pain severity - 0-10 verbal numeric rating [Sc...,2.0,{score},numeric
2,2012-01-23T17:45:28Z,034e9e3b-2def-4559-bb2a-7850888ae060,e88bc3a9-007c-405e-aabc-792a38f4aa2b,29463-7,Body Weight,87.8,kg,numeric
3,2012-01-23T17:45:28Z,034e9e3b-2def-4559-bb2a-7850888ae060,e88bc3a9-007c-405e-aabc-792a38f4aa2b,39156-5,Body Mass Index,23.5,kg/m2,numeric
4,2012-01-23T17:45:28Z,034e9e3b-2def-4559-bb2a-7850888ae060,e88bc3a9-007c-405e-aabc-792a38f4aa2b,8462-4,Diastolic Blood Pressure,82.0,mm[Hg],numeric

In [341]:
observations = pd.read_csv(root / "observations.csv", delimiter=",")
observations_column = { "DATE": "start_date",
                       "PATIENT": "patient_num", 
                       "ENCOUNTER": "encounter_num", 
                       "CODE": "concept_cd", 
                       "TYPE": "valtype_cd", 
                       "VALUE": "value_undefined", 
                       "UNITS": "unit"}
observations_type = {"start_date": np.datetime64,
                    "patient_num": str,
                    "encounter_num": str,
                    "concept_cd": str,
                    "valtype_cd": str,
                    "value_undefined": str,
                    "unit": str
                    }
observations = observations.rename(observations_column, axis=1)[observations_column.values()]
observations = observations.astype(observations_type)
observations.concept_cd = "LOINC:" + observations.concept_cd
observations['observation_id'] = (observations.patient_num + observations.encounter_num + observations.concept_cd + observations.start_date.astype(str))
observations.loc[observations.valtype_cd == "numeric", "valtype_cd"] = "N"
observations.loc[observations.valtype_cd == "text", "valtype_cd"] = "T"
observations['nval_num'] = observations.loc[observations.valtype_cd == "N", "value_undefined"].astype(float)
observations['tval_char'] = observations.loc[observations.valtype_cd == "T", "value_undefined"].astype(str)
observations = observations.drop("value_undefined", axis=1)
observations = observations.loc[observations.concept_cd != "LOINC:QALY", :].reset_index(drop=True)
observations = observations.loc[observations.concept_cd != "LOINC:DALY", :].reset_index(drop=True)
observations = observations.loc[observations.concept_cd != "LOINC:QOLS", :].reset_index(drop=True)
observations = obserations.drop_duplicates("observation_id")
observations.to_sql(index=False, name="observation_fact", con=engine, if_exists="append")

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "observation_fact" violates foreign key constraint "observation_fact_concept_cd_fkey"
DETAIL:  Key (concept_cd)=(LOINC:DALY) is not present in table "concept_dimension".

[SQL: INSERT INTO observation_fact (start_date, patient_num, encounter_num, concept_cd, valtype_cd, unit, observation_id, nval_num, tval_char) VALUES (%(start_date)s, %(patient_num)s, %(encounter_num)s, %(concept_cd)s, %(valtype_cd)s, %(unit)s, %(observation_id)s, %(nval_num)s, %(tval_char)s)]
[parameters: ({'start_date': datetime.datetime(2012, 1, 23, 17, 45, 28), 'patient_num': '034e9e3b-2def-4559-bb2a-7850888ae060', 'encounter_num': 'e88bc3a9-007c-405e-aabc-792a38f4aa2b', 'concept_cd': 'LOINC:8302-2', 'valtype_cd': 'N', 'unit': 'cm', 'observation_id': '034e9e3b-2def-4559-bb2a-7850888ae060e88bc3a9-007c-405e-aabc-792a38f4aa2bLOINC:8302-22012-01-23 17:45:28', 'nval_num': 193.3, 'tval_char': None}, {'start_date': datetime.datetime(2012, 1, 23, 17, 45, 28), 'patient_num': '034e9e3b-2def-4559-bb2a-7850888ae060', 'encounter_num': 'e88bc3a9-007c-405e-aabc-792a38f4aa2b', 'concept_cd': 'LOINC:72514-3', 'valtype_cd': 'N', 'unit': '{score}', 'observation_id': '034e9e3b-2def-4559-bb2a-7850888ae060e88bc3a9-007c-405e-aabc-792a38f4aa2bLOINC:72514-32012-01-23 17:45:28', 'nval_num': 2.0, 'tval_char': None}, {'start_date': datetime.datetime(2012, 1, 23, 17, 45, 28), 'patient_num': '034e9e3b-2def-4559-bb2a-7850888ae060', 'encounter_num': 'e88bc3a9-007c-405e-aabc-792a38f4aa2b', 'concept_cd': 'LOINC:29463-7', 'valtype_cd': 'N', 'unit': 'kg', 'observation_id': '034e9e3b-2def-4559-bb2a-7850888ae060e88bc3a9-007c-405e-aabc-792a38f4aa2bLOINC:29463-72012-01-23 17:45:28', 'nval_num': 87.8, 'tval_char': None}, {'start_date': datetime.datetime(2012, 1, 23, 17, 45, 28), 'patient_num': '034e9e3b-2def-4559-bb2a-7850888ae060', 'encounter_num': 'e88bc3a9-007c-405e-aabc-792a38f4aa2b', 'concept_cd': 'LOINC:39156-5', 'valtype_cd': 'N', 'unit': 'kg/m2', 'observation_id': '034e9e3b-2def-4559-bb2a-7850888ae060e88bc3a9-007c-405e-aabc-792a38f4aa2bLOINC:39156-52012-01-23 17:45:28', 'nval_num': 23.5, 'tval_char': None}, {'start_date': datetime.datetime(2012, 1, 23, 17, 45, 28), 'patient_num': '034e9e3b-2def-4559-bb2a-7850888ae060', 'encounter_num': 'e88bc3a9-007c-405e-aabc-792a38f4aa2b', 'concept_cd': 'LOINC:8462-4', 'valtype_cd': 'N', 'unit': 'mm[Hg]', 'observation_id': '034e9e3b-2def-4559-bb2a-7850888ae060e88bc3a9-007c-405e-aabc-792a38f4aa2bLOINC:8462-42012-01-23 17:45:28', 'nval_num': 82.0, 'tval_char': None}, {'start_date': datetime.datetime(2012, 1, 23, 17, 45, 28), 'patient_num': '034e9e3b-2def-4559-bb2a-7850888ae060', 'encounter_num': 'e88bc3a9-007c-405e-aabc-792a38f4aa2b', 'concept_cd': 'LOINC:8480-6', 'valtype_cd': 'N', 'unit': 'mm[Hg]', 'observation_id': '034e9e3b-2def-4559-bb2a-7850888ae060e88bc3a9-007c-405e-aabc-792a38f4aa2bLOINC:8480-62012-01-23 17:45:28', 'nval_num': 119.0, 'tval_char': None}, {'start_date': datetime.datetime(2012, 1, 23, 17, 45, 28), 'patient_num': '034e9e3b-2def-4559-bb2a-7850888ae060', 'encounter_num': 'e88bc3a9-007c-405e-aabc-792a38f4aa2b', 'concept_cd': 'LOINC:8867-4', 'valtype_cd': 'N', 'unit': '/min', 'observation_id': '034e9e3b-2def-4559-bb2a-7850888ae060e88bc3a9-007c-405e-aabc-792a38f4aa2bLOINC:8867-42012-01-23 17:45:28', 'nval_num': 77.0, 'tval_char': None}, {'start_date': datetime.datetime(2012, 1, 23, 17, 45, 28), 'patient_num': '034e9e3b-2def-4559-bb2a-7850888ae060', 'encounter_num': 'e88bc3a9-007c-405e-aabc-792a38f4aa2b', 'concept_cd': 'LOINC:9279-1', 'valtype_cd': 'N', 'unit': '/min', 'observation_id': '034e9e3b-2def-4559-bb2a-7850888ae060e88bc3a9-007c-405e-aabc-792a38f4aa2bLOINC:9279-12012-01-23 17:45:28', 'nval_num': 14.0, 'tval_char': None}  ... displaying 10 of 287897 total bound parameter sets ...  {'start_date': datetime.datetime(2018, 9, 5, 16, 27, 52), 'patient_num': 'fc817953-cc8b-45db-9c85-7c0ced8fa90d', 'encounter_num': 'nan', 'concept_cd': 'LOINC:QOLS', 'valtype_cd': 'N', 'unit': '{score}', 'observation_id': 'fc817953-cc8b-45db-9c85-7c0ced8fa90dnanLOINC:QOLS2018-09-05 16:27:52', 'nval_num': 1.0, 'tval_char': None}, {'start_date': datetime.datetime(2019, 9, 5, 16, 27, 52), 'patient_num': 'fc817953-cc8b-45db-9c85-7c0ced8fa90d', 'encounter_num': 'nan', 'concept_cd': 'LOINC:QOLS', 'valtype_cd': 'N', 'unit': '{score}', 'observation_id': 'fc817953-cc8b-45db-9c85-7c0ced8fa90dnanLOINC:QOLS2019-09-05 16:27:52', 'nval_num': 1.0, 'tval_char': None})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [342]:
observations

,start_date,patient_num,encounter_num,concept_cd,valtype_cd,unit,observation_id,nval_num,tval_char
0,2012-01-23 17:45:28,034e9e3b-2def-4559-bb2a-7850888ae060,e88bc3a9-007c-405e-aabc-792a38f4aa2b,LOINC:8302-2,N,cm,034e9e3b-2def-4559-bb2a-7850888ae060e88bc3a9-0...,193.3,NaN
1,2012-01-23 17:45:28,034e9e3b-2def-4559-bb2a-7850888ae060,e88bc3a9-007c-405e-aabc-792a38f4aa2b,LOINC:72514-3,N,{score},034e9e3b-2def-4559-bb2a-7850888ae060e88bc3a9-0...,2.0,NaN
2,2012-01-23 17:45:28,034e9e3b-2def-4559-bb2a-7850888ae060,e88bc3a9-007c-405e-aabc-792a38f4aa2b,LOINC:29463-7,N,kg,034e9e3b-2def-4559-bb2a-7850888ae060e88bc3a9-0...,87.8,NaN
3,2012-01-23 17:45:28,034e9e3b-2def-4559-bb2a-7850888ae060,e88bc3a9-007c-405e-aabc-792a38f4aa2b,LOINC:39156-5,N,kg/m2,034e9e3b-2def-4559-bb2a-7850888ae060e88bc3a9-0...,23.5,NaN
4,2012-01-23 17:45:28,034e9e3b-2def-4559-bb2a-7850888ae060,e88bc3a9-007c-405e-aabc-792a38f4aa2b,LOINC:8462-4,N,mm[Hg],034e9e3b-2def-4559-bb2a-7850888ae060e88bc3a9-0...,82.0,NaN
...,...,...,...,...,...,...,...,...,...
299692,2015-09-05 16:27:52,fc817953-cc8b-45db-9c85-7c0ced8fa90d,nan,LOINC:QOLS,N,{score},fc817953-cc8b-45db-9c85-7c0ced8fa90dnanLOINC:Q...,1.0,NaN
299693,2016-09-05 16:27:52,fc817953-cc8b-45db-9c85-7c0ced8fa90d,nan,LOINC:QOLS,N,{score},fc817953-cc8b-45db-9c85-7c0ced8fa90dnanLOINC:Q...,1.0,NaN
299694,2017-09-05 16:27:52,fc817953-cc8b-45db-9c85-7c0ced8fa90d,nan,LOINC:QOLS,N,{score},fc817953-cc8b-45db-9c85-7c0ced8fa90dnanLOINC:Q...,1.0,NaN
299695,2018-09-05 16:27:52,fc817953-cc8b-45db-9c85-7c0ced8fa90d,nan,LOINC:QOLS,N,{score},fc817953-cc8b-45db-9c85-7c0ced8fa90dnanLOINC:Q...,1.0,NaN
299696,2019-09-05 16:27:52,fc817953-cc8b-45db-9c85-7c0ced8fa90d,nan,LOINC:QOLS,N,{score},fc817953-cc8b-45db-9c85-7c0ced8fa90dnanLOINC:Q...,1.0,NaN